# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables and secrets
.env
.env.*
!.env.example

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Node
*.log
*.log.*
venv
.venv

out/
code.js
